version: '3.8'

services:
  app2:
    build: ./app2
    deploy:
      replicas: 2
    env_file:
      - .env
    environment:
      - MIDDLEWARE_TYPE=tcp_server
      # - MIDDLEWARE_TYPE=tcp_socket
      # - MIDDLEWARE_HOST=middleware
      # - MIDDLEWARE_PORT=9000
    volumes:
      - ./app2:/usr/src/app
    depends_on:
      - mariadb

  nginx:
    image: nginx:latest
    volumes:
      - ./nginx_lb/nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - "${APP2_RUN_PORT}:80"
      - "${APP2_SOCKET_PORT:-6002}:6002"
    depends_on:
      - app2

  mariadb:
    build: ./mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${APP2_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${APP2_DB_NAME}
      - MYSQL_USER=${APP2_DB_USER}
      - MYSQL_PASSWORD=${APP2_DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

volumes:
  mariadb_data:
