version: '3.8'

services:
  app2:
    build: ./app2
    ports:
      - "${APP2_RUN_PORT}:5002"
    env_file:
      - .env
    volumes:
      - ./app2:/usr/src/app
    depends_on:
      - mariadb
      - rabbitmq

  mariadb:
    build: ./mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${APP2_DB_ROOT_PASSWORD}
      - MYSQL_DATABASE=${APP2_DB_NAME}
      - MYSQL_USER=${APP2_DB_USER}
      - MYSQL_PASSWORD=${APP2_DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

volumes:
  mariadb_data:
