[mysqld]
# Configuración Básica
bind-address            = 0.0.0.0
max_connections         = 1000

# Configuración de Replicación GTID (Requerido por Orchestrator)
log_bin                 = mysql-bin
binlog_format           = ROW
gtid_strict_mode        = 1
log_slave_updates       = 1
expire_logs_days        = 7

# Importante para evitar problemas de consistencia
innodb_flush_log_at_trx_commit = 1
sync_binlog = 1
slave_skip_errors=1396
# Report Host (Para que el master sepa el nombre real del slave)
# Se pasará por línea de comandos, pero dejamos la opción lista
# report_host = ... 
